* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body{
  overflow: hidden;
  background-color: black;
}


h1 {
font-size: 2rem;
box-shadow: 0px 0px 10px 2px purple;
padding: 0px 15px;
}

p{
  font-size: 1.6rem;
  margin: 25px;
}

.content{
  display: flex;
}

.container-image{
  width: 40%;
}

.background-image{
  width: 100%;
  height: 100vh;
  object-fit:cover;
  position: relative;
}

.banner{
  position:absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 40%;
  height: 20%;
  top: 20%;
  max-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}


.logo{
  width: auto;
  height: 60%;
}

.container{
  background-color: black;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 150px;
  padding-left: 50px;
}

fieldset{
  margin: 30px 0px 10px 30px;
  border: 0;
}


.input-text{
  width: 350px;
  padding: 10px;
  margin: 10px 0px 0px 0px;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s;
  box-shadow: 0 0 5px 0px purple;
  background-color: black;
  }

  .input-text:hover, .input-text:hover{
    background-color: purple;
    opacity: 100%;
  }

  .input-text:focus, .input-text:focus{
    background-color: black;
    box-shadow: 0 0 20px 3px purple;
  }

section p{
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.container-input{
  display: flex;
  height: 100px;
}

ul {
  list-style-type: none;  
  width: 150px;
}

.planet-option{
  margin: 0;
}

option, .planet-option select{
  color: black;
}

.container-options{
  display: flex;
}

.planet-option{
  width: 200px;
}

legend{
  margin-bottom: 10px;
}


.checkbox-grid{
  display: grid;
  grid-template-columns: auto auto;
}

.checkbox-container{
  margin-right: 15px;
}

input[type='radio'], input[type='checkbox']{
  margin-right: 5px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: purple;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
  box-shadow: 0px 0px 5px 1px white;
}

input[type='checkbox']:after {
  width: 15px;
  height: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

input[type='checkbox']:checked:after {
  width: 15px;
  height: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: purple;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
  box-shadow: 0px 0px 5px 1px white;
}

#planet{
  color: white;
  background-color: black;
  border: black solid 2px;
  font-weight: 500;
}

select{
  background-color: black;
  color: white;
  border: 0;
  box-shadow: 0px 0px 10px 0px purple;
}

select option {
  background: purple;
  color: white;
}


.SubmitBtn{
  font-weight: 500;
  margin: 30px;
  color: purple;
  border-radius: 10px;
  padding: 12px 50px;
  font-size: 2.2rem;
  background-color: black;
  border: 0;
  box-shadow: 0 0 10px 2px purple;
  cursor: pointer;
  margin-top: 50px;
}

.SubmitBtn:hover{
background-color: purple;
color: black;
}

@media (max-width: 1710px) {
  .checkbox-grid{
    display: block
  }
  .container{
    padding-right: 100px;
  }
  p{
    font-size: 1.2rem;
    margin: 10px;
  }
}

@media (max-width: 1350px) {
  .container{
    padding-right: 0px;
  }
  .input-text{
    width: 270px;
}
}

@media (max-width: 1140px){
.container-options{
    display: grid;
    grid-template-columns: 1fr 1fr;
  } 
body{
  overflow: auto;
  overflow-x: hidden;
}
.background-image{
  height: 100%;
}
.input-text{
  width: 250px;
}
}


@media (max-width: 900px){
  .container-input{
    display: block;
    margin-bottom: 80px;
  }
  .container-options{
    display: grid;
    grid-template-columns: 1fr;
  } 
  .logo{
    height: 40% ;
  }
  h1{
    font-size: 1.4rem;
  }
}

@media (max-width: 550px){
  body{
    overflow-x: visible;
  }
}