* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}


h1 {
font-size: 2rem;
box-shadow: 0px 0px 10px 2px purple;
padding: 0px 15px;
}

p{
  font-size: 1.6rem;
  margin: 30px;
}

.content{
  display: flex;
}

.container-image{
  width: 45%;
}

.background-image{
  width: 100%;
  height: 100vh;
  object-fit:cover;
  position: relative;
}

.banner{
  position:absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 45%;
  height: 20%;
  top: 20%;
  max-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}


.logo{
  width: auto;
  height: 60%;
}

.container{
  background-color: black;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

fieldset{
  margin: 30px 0px 10px 30px;
  border: 0;
}


.input-text{
  width: 350px;
  padding: 10px;
  margin: 10px 0px 0px 0px;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s;
  box-shadow: 0 0 5px 0px purple;
  background-color: black;
  }

  .input-text:hover, .input-text:hover{
    background-color: purple;
    opacity: 100%;
  }

  .input-text:focus, .input-text:focus{
    background-color: black;
    box-shadow: 0 0 20px 3px purple;
  }

section p{
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.container-input{
  display: flex;
  height: 100px;
}

ul {
  list-style-type: none;  
  width: 200px;
}

.planet-option{
  margin: 0;
}

option, .planet-option select{
  color: black;
}

.container-options{
  display: flex;
}

.planet-option{
  width: 200px;
}

